aiohappyeyeballs==2.7.1
aiohttp==3.14.3
aiosignal==1.4.0
attrs==26.1.0
colorama==0.4.6
frozenlist==1.8.0
idna==3.18
iniconfig==2.3.0
jsonalias==0.1.1
multidict==6.7.1
numpy==2.5.2
packaging==26.3
pandas==3.0.5
pluggy==1.6.0
propcache==0.5.2
pyaes==1.6.1
pyasn1==0.6.4
Pygments==2.21.0
pytest==9.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
rsa==4.9.1
six==1.17.0
solders==0.28.0
Telethon==1.44.0
typing_extensions==4.16.0
tzdata==2026.3
yarl==1.24.5
